.about {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 22px;
  position: center;
  margin-top: 50px;
  left: 25px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 40px;
  position: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 40px;
  position: center;
}
.page-header {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 22px;
  position: absolute;
  margin-top: -50px;
  left: 25px;
}
.center {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 22px;
  position: absolute;
  margin-top: -50px;
  left: 25px;
}
.main-image {
  position: relative;
  flex-wrap: wrap;
  display: block;
  width: auto;
  height: auto;
}

/* .my-bio {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 22px;
} */

.background-image {
  display: flex;
  width: 100%;
  height: auto;
  border-color: darkgrey;
  border-width: 20px;
}
.imageContainer img {
  height: auto;
  width: 20%;
  border-radius: 12px;
  border-color: darkgrey;
  border-width: 20px;
  padding: 50px;
  padding-bottom: 50px;
}
.imageContainer {
  display: flex;
  flex-wrap: wrap;
  border-color: darkgrey;
  border-width: 20px;
  padding-block: 50px;
}
.cover-image img {
  color: lightgrey;

  border: solid 5px;
  box-shadow: 0 0 3px #404040;
  padding: 5px 5px 5px 5px;

  margin-bottom: 20px;
}
