.home-page .text-zone {
  position: absolute;
  left: 10%;
  top: 50%;

  width: 50%;
  max-height: 90%;
}
h1 {
  color: white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: left;
  font-weight: 400;
}

img {
  margin-left: 30px;

  height: auto;
  animation: rotateIn 1.6s linear both;
  animation-delay: 1.8s;
}

h2 {
  color: darkgray;
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  animation: fadeIn 1.8s 2s backwards;
}
.flat-button {
  color: white;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 20px 20px;
  border: 2px solid white;
  float: bottom;
  font-weight: bolder;
  position: fixed;
}

.text-container {
  content: '<h1>';
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 22px;
}
.ul {
  font-style: normal;
  font-size: xx-large;
  color: white;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 20px 20px;
  border: 2px solid white;
  float: bottom;
  font-weight: bolder;
  position: fixed;
}
.contact {
  font-style: normal;
  font-size: xx-large;
  color: white;
  font-size: 22px;
  font-weight: 500;

  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 20px 20px 20px 100px;

  float: bottom;
  font-weight: bolder;
  position: fixed;
}
