.home-page{
    .text-zone{
        position:absolute;
        left:10%;
        top:50%;
        transform:translateY(-50%);
        width: 50%;
        max-height: 90%;
    }
    h1{
        color:white;
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        font-weight: 500;
        &::before{
            content: '<h1>';
            font-family: Arial, Helvetica, sans-serif;
            color: goldenrod;
            font-size: 22px;
            position: absolute;
            margin-top: -50px;
            left: 25px;
            opacity: 0.7;

        }
        &::after{
            content: '<h1/>';
            font-family: Arial, Helvetica, sans-serif;
            color: goldenrod;
            font-size: 22px;
            position:absolute;
            margin-top: 25px;
            margin-left: 20px;
            animation: fadeIn 1.5s 1.8s backwards;
            opacity: 0.8;

        }
        img{
            width: 40px;
            margin-left: 30px;
            opacity: 0;
            height: auto;
            animation:rotateIn 1.6s linear both;
            animation-delay: 1.8s;

        }
    }
    h2{
        color:darkgray;
        margin-top: 30px;
        font-weight: 500;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 5px;
        animation: fadeIn 1.8s 2s backwards;
        
    }
    .flat-button{
        color:goldenrod;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 8px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding: 15px 20px;
        border: 1px solid goldenrod;
        margin-top: 30px;
        float:left;
        animation: fadeIn 1.8s 2s backwards;
        white-space: nowrap;

        &::hover{
            background: goldenrod;
            color:darkblue;
            
        }
    }
}