.container home-page {
  position: absolute;
  left: 10%;
  top: 50%;
  width: 100%;
  max-height: 100%;
}
.text-container {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  max-height: 90%;
}

.home-page .text-zone {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  max-height: 90%;
}
h1 {
  color: white;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: 500;
  position: center;
}

img {
  margin-left: 30px;

  height: auto;
  animation: rotateIn 1.6s linear both;
  animation-delay: 1.8s;
}

h2 {
  color: white;
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  animation: fadeIn 1.8s 2s backwards;
}
.flat-button {
  color: white;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 8px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid white;
  margin-top: 500px;
}

.text-container {
  content: '<h1>';
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 22px;
  position: absolute;
  margin-top: -50px;
  left: 25px;
}
.Logo {
  width: 40px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}
.Skills {
  color: white;
  margin-top: 300px;
  font-weight: 500;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}
.li {
  color: white;
  margin-top: 300px;
  font-weight: 500;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}
