.nav-bar {
  background: #19191919;
  width: 75px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 400px;
}
img {
  display: block;
  margin: 10px auto;
  width: 30px;
  height: auto;
}
nav {
  display: block;
  text-align: center;
  position: absolute;
  height: 250px;
  top: 50%;
  margin-top: -120px;
  width: 100%;
}
i {
  transition: all 0.5s ease-in-out;
}

.logo {
  display: block;
  padding: 8px 0;
}

&.sublogo {
  width: 75px;
}
a {
  font-size: 30px;
  color: #5e5e5e5e;
  display: block;
  line-height: 60px;
  height: 60px;
  position: relative;
  text-decoration: none;
}

&:after {
  content: '';
  font-size: 12px;
  letter-spacing: 5px;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

ul {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
}

.first-child {
}
&::after {
  content: 'HOME';
}
a.about-link {
}
&:after {
  content: 'ABOUT';
}

a.contact-link {
}
&:after {
  content: 'CONTACT';
}
svg {
  color: yellowgreen;
}

a.active {
}
.color: goldenrod;
. svg {
  opacity: 0;
}
&:hover {
}
&:hover svg {
  color: yellowgreen;
}

a {
  padding: 12px 0;
  display: block;
  font-size: 20px;
  line-height: 20px;
}

li {
}
